.chart__container {
    display: flex;
    /* flex-direction: column; */
    height: 340px;
    width: 800px;
    /* margin-left: 125px; */
    justify-content: center;
    align-items: center;
    background-color: #E7E6E1;
}

.chart__controller {}