.onePlanet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e6e1f0;
  width: fit-content;
  margin-top: 100px;
  color: #343b51;
  font-size: 20px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  padding: 5px;
  border-radius: 15px;
  transition: transform 250ms;
}

.onePlanet:hover{
  transform: translateY(-2.5px);
  background-color: whitesmoke;
}
