.pageContainer {
  display: grid;
  grid-template-columns: 0.5fr 5fr 2fr 0.1fr 2fr 0.1fr;
  grid-template-rows: auto;
  grid-template-areas: ". left left . right .";
}

body {
  color: #e7e6e1;
}

.pageLeft {
  display: flex;
  flex-direction: column;
  overflow: none;
  align-items: center;
  justify-content: center;
  grid-area: left;
}

.pageRight {
  display: flex;
  grid-area: right;
}

.nameContainer {
  display: flex;
  width: 100%;
  align-items: left;
  margin: 30px 20px 30px 0;
}

.planetContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: left;
  min-height: 600px;
  max-height: 800px;
  margin-bottom: 20px;
}

.underline {
  border-bottom: 1px solid;
  border-color: #e7e6e1;
  margin: 30px 0;
}

h1,
h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 325;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.statistics {
  display: flex;
  justify-content: space-around;
}

.news {
  margin: 30px 0;
}
