.projectTitle {
  display: flex;
  color: antiquewhite;
  justify-content: center;
  margin: 20px;
}

.mainContent {
  display: flex;
  height: 100%;
}

.andrewContainer,
.ryanContainer,
.johnContainer,
.zaviarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  align-items: center;
  height: 350px;
  transition-property: background-color;
  transition-duration: 300ms;
}

.andrewContainer a {
  position: absolute;
}

.andrewContainer:hover,
.ryanContainer:hover,
.johnContainer:hover,
.zaviarContainer:hover {
  background-color: rgb(8, 38, 65);
  cursor: pointer;
}

.andrew,
.ryan,
.john,
.zaviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubImg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 20px 0;
}

.andrew img,
.ryan img,
.john img,
.zaviar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.andrew h1,
.ryan h1,
.john h1,
.zaviar h1 {
  margin: 10px 0;
}
