.projectTitle {
  display: flex;
  color: antiquewhite;
  justify-content: center;
  margin: 20px;
  margin-bottom: 2%;
}

.mainContent {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.2fr 1.4fr 1.4fr 1.4fr 1.4fr 0.2fr;
  gap: 0px 0px;
  width: 100%;
}

.zaviarContainer {
  grid-area: 1 / 5 / 2 / 6;
}
.johnContainer {
  grid-area: 1 / 4 / 2 / 5;
}
.ryanContainer {
  grid-area: 1 / 3 / 2 / 4;
}
.andrewContainer {
  grid-area: 1 / 2 / 2 / 3;
}
.space {
  grid-area: 1 / 1 / 2 / 2;
}
.space2 {
  grid-area: 1 / 6 / 2 / 7;
}

.andrewContainer,
.ryanContainer,
.johnContainer,
.zaviarContainer {
  justify-content: center;
  transition-property: background-color;
  transition-duration: 300ms;
}

.andrewContainer:hover,
.ryanContainer:hover,
.johnContainer:hover,
.zaviarContainer:hover {
  background-color: rgb(8, 38, 65);
  cursor: pointer;
}

.andrew,
.ryan,
.john,
.zaviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubImg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.andrew img,
.ryan img,
.john img,
.zaviar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.andrew h1,
.ryan h1,
.john h1,
.zaviar h1 {
  margin: 10px 0;
}
