.signupPageContainer {
  display: flex;
}

.signupImgContainer, 
.signupFormContainer {
  display: flex;
  width: 50%;
  height: 100vh;
}

.signupImgContainer img {
  width: 100%;
}

.signupFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
