.transaction__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 278px;
  width: 300px;
  position: fixed;
  top: 200px;
  background-color: #e7e6e1f0;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 3.5px 3px 4px 0px rgb(152 150 150 / 35%);
  box-sizing: border-box;
}

.transactionForm {
  display: flex;
  padding: 13px 10px 25px 10px;
  flex-direction: column;
  align-items: center;
}

.transactionButtons button {
  margin: 0 10px;
  padding: 5px;
  color: black;
}

.transactionButtons {
  padding-bottom: 2%;
}

.orderContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: rgb(187, 187, 187);
  width: 90%;
  padding: 10px 10px 10px 15px;
  font-size: 16.5px;
  font-weight: 800;
  font-family: "DM Sans", sans-serif;
  color: #343b51;
}

.order {
  padding-right: 10px;
  color: black;
}

.shares {
  display: flex;
  align-items: baseline;
  padding: 4px;
  width: 280px;
  margin-left: 8px;
}

label {
  font-size: 15px;
  font-weight: 300;
  font-family: "DM Sans", sans-serif;
  color: #343b51;
  padding-right: 40px;
  margin-left: 5.6px;
}

.shareInput {
  width: 50px;
  box-sizing: border-box;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(16, 16, 99, 0.413);
  width: 100%;
  height: 50px;
  margin: 0 8px 0 90px;
  background-color: rgba(59, 242, 239, 0.118);
  height: 40px;
  color: black;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: baseline;
  width: 274px;
  padding: 5px;
  border-bottom: 1px solid;
  border-color: rgb(187, 187, 187);
  margin-left: 22px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.costContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: baseline;
  width: 274px;
  padding: 5px;
  margin-left: 22px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.price {
  color: #343b51;
  margin-right: 8px;
  font-weight: bold;
}

.number {
  color: #343b51;
  font-weight: bold;
}

.availCash {
  font-size: 15px;
  border-top: 1px solid;
  border-color: rgb(187, 187, 187);
  width: 86%;
  margin-top: 5%;
  padding-top: 2%;
  justify-content: center;
}

.priceCashContainer,
.availCash,
.totalCost {
  display: flex;
}

.buySell {
  color: green;
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    color: green;
  }
  to {
    color: rgba(0, 0, 0, 0);
  }
}
