.portfolio__container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". left left right .";
  text-align: center;
}

.portfolio__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  grid-area: left;
  height: 100%;
}

.portfolio__chart__container {
  height: 35vh;
  min-width: 20vw;
  margin: 50px 20px 20px 20px;
}

.chart__control {
  display: flex;
  height: 50px;
  margin: 10px;
}

.buyingpower__container {
  display: flex;
  flex-direction: column;
  height: 65px;
  margin: 10px 10px 5px 10px;
  padding: 20px;
}

.buyingPower {
  margin: 10px;
}

.news__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 50px 5px 20px 5px;
  padding-left: 15px;
}

.portfolio__right {
  display: flex;
  flex-direction: column;
  grid-area: right;
  align-items: center;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  width: 250px;
  top: 18%;
  background-color: rgba(0, 30, 75, 0.75);
  color: white;
  height: 70vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: fixed;
}

.sidebarContainer::-webkit-scrollbar {
  display: none;
}

.listTitle {
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.accountValue {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  text-align: left;
  margin: 20px 0;
}

.noAssets {
  margin: 20px 0;
}
