.articleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  border: 1px solid white;
  width: 50vw;
  height: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.article a {
  text-decoration: none;
  color: aliceblue;
}
