.navContainer {
  display: grid;
  background-color: #0c4271;
  height: 75px;
  grid-template-rows: 100%;
  grid-template-columns: 17% 45% 38%;
  grid-template-areas: "a  b  c";
  color: #e7e6e1;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
}

.navContainer a {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: #e7e6e1;
}

.navContainer a:hover {
  color: white;
}

.link a {
  text-decoration: none;
}

.navA {
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin-left: 30px;
  font-size: 30px;
}

.navC {
  grid-area: c;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.searchBar {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer input {
  color: white;
  font-weight: bold;
  width: 500px;
  padding: 8px;
  margin: 10px;
  border-radius: 2px;
  background-color: rgba(12, 66, 113, 1);
  border: 1px solid white;
}

.inputContainer input:focus {
  outline: none;
}

.searchIcon {
  position: relative;
  right: 45px;
  top: 7px;
}

.searchList {
  position: absolute;
  z-index: 1;
  background-color: rgb(12, 66, 113);
  width: 516px;
  top: 54px;
  justify-content: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 10px;
}

.searchList li {
  list-style: none;
  margin: 10px;
}
